*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; 
}

.row {
  margin-left: 0;
  margin-right: 0;
}


html,
body {
    height: 100%;
}

/* tIPOGRAFIA*/

@font-face {
    font-family: 'Geo579Normal';
    src: url('../fonts/Geo579/Geo579Normal.ttf');

}
.landing{
  width: 100%;
  background-color: black;
  height: 100%;

}
.margen{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: auto;
    position: relative;
    border-left: 3px solid #96865C;
    border-bottom: 3px solid #96865C;
}

.fontLogoWrapper {
    top: 0px;
    right: 0px;
    position: absolute;
    /*background-color: yellow;
    border: 1px solid red;*/
}

.contact{
      border: 1px solid gray;
    padding: 5px;
}
.contact:hover{
      opacity: 0.50;
}
.cuadro_contact{
  padding-top: 9%;
  color: gray;
}

.text  {
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 15%;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}
.boton{
    text-align: center;

    -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera < 12.1 */
            animation: fadein 10s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.parrafo_1 {
    padding-top: 6%;
    text-align: center;

    /*prueba*/
    position: absolute;
    width: 100%;
}
.parrafo_white {
  display: inline-block;
  color: white;
}
.parrafo_small {
  text-align: center;
  color: #85764e;
  font-size: 25px;
}







#d2{
  display: none; 
  position: absolute;
}

#d3{
  display: none; 
  position: absolute;
}





