@font-face {
    font-family: 'Geo579Normal';
    src: url('../fonts/Geo579/Geo579Normal.ttf');

}


@import "trig.scss";

  $theta: -180;  // angle that will be increased each loop
  $h: 150;      // x coordinate of circle center
  $k: 150;      // y coordinate of circle center

  $step: 30;  // amount to add to theta each time (degrees)
  $r: 70;
  $i: 0;

  .fontLogo {
      position: relative;
      height: $h*2px;

      div {
        position: absolute;
        font-size: 95px;
        font-family: 'Geo579Normal';
        color: #85764e;
    }
  }

  @while $theta < 360 {

      .fontLogo div.pos-#{$i}  {

          $x: $h + ($r * cos($theta));
          $y: $k + ($r * sin($theta));

          top: #{$y}px;
          left: #{$x}px;
          transform: rotate(($i+8)*30deg);

          $theta: $theta + $step;
          $i: $i + 1;
      }
  }

  .fontLogo div.pos-4 {
      color: antiquewhite !important;
  }
.fontLogo{
  float: left;
}